<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="vue-app">
       <h1>events</h1>
       <p>My age is {{ age }} </p>
       <button v-on:click.once="subtract(1)"> Subtract a year</button>
       <button v-on:click="add(1)">Add a year</button>
       <button v-on:dblclick="subtract(10)"> Subtract 10 year</button>
       <button v-on:dblclick="add(10)">Add 10 year</button>
       <a v-on:click.prevent="click" href="www.google.com">google</a>

       <div id="canvas"v-on:Mousemove="updateXY">
           {{x}}, {{y}}
       </div>


    </div>

    


    
    <script src="/app.js"></script>
</body>
</html>