#bag{
    width:200px;
    height:500px;
    margin:0 auto;
    background:url(/images/download.jpg) center no-repeat;
    background-size: 80%
}

#bag-health{
    width:200px;
    border:2px solid #000;
    margin:0 auto 20px auto;
}

#bag-health div{
    height:20px;
    background:crimson;
}

#controls{
    width:120px;
    margin:0 auto;
}

#bag.burst{
    background:url(/images/broken.jpg) center no-repeat;
    background-size: 80%
}