<template>
  <div>
    <h1>{{ title }}</h1>
    <ninjas></ninjas>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: 'My ninja'
    }
  }


}
</script>

<style>

</style>
