<template>
  <ul>
    <li <li v-for="ninja in ninjas"> {{ninja}}</li>
  </ul>
</template>

<script>
export default {
  data() {
    return {
      ninjas:['yosi', 'dan','frank'] 
      
      
    }
  }


}
</script>

<style>

</style>
