<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="vue-app">
        <h1>computed properties</h1>
        <button v-on:click="a++"> Add to A</button>
        <button v-on:click="b++">Add to B</button>
        <p> A-{{a}}</p>
        <p>B-{{b}}</p>
        <p>Age + A = {{ addToA }}</p>
        <p>Age + B = {{ addToB }}</p>
    </div>

    


    
    <script src="/app.js"></script>
</body>
</html>