<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="vue-app">
        <h1> Looping through lists</h1>
            <ul>
                <li v-for="(character,index) in characters">{{index}}.{{character}}</li>
            </ul>
            <ul>
                <li v-for="(ninja,index) in ninjas">{{index}}.{{ninja.name}}-{{ninja.age}}</li>
            </ul>
    
            <template v-for="(ninja,index) in ninjas">
                <h3>{{index}}.{{ninja.name}}</h3>
                    {{ninja.age}}
            </template>
            
            <h4> cylcling through objects</h4>
            
            <template v-for="ninja in ninjas">
                <div v-for="(val,key) in ninja">
                <p>{{key}} - {{val}}</p>
            </div>

            </template>
         


    </div>

    


    
    <script src="/app.js"></script>
</body>
</html>