<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="vue-app">
        <h1>{{ greet('afternoon') }}</h1>
        <h1>{{ name }}</h1>
        <p>{{ job }}</p>

        <a v-bind:href= "website">google</a>
        <input type="text" v-bind:value="job"/>
        <p v-html="websiteTag"></p>
    </div>

    


    
    <script src="/vue-instance/app.js"></script>
</body>
</html>