<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="vue-app">
        <h1> Keyboard Events</h1>
        <label>Name:</label>
        <input type="text" v-model="name"/>
        <span>
            {{ name }}
        </span>
        <label>Age:</label>
        {{age}}
        <input type="text" v-model="age"/>
       </div>


    </div>

    


    
    <script src="/app.js"></script>
</body>
</html>