<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="vue-app">
        <h1> Conditionals</h1>
        <button v-on:click="error=!error">Toggle error</button>
        <button v-on:click="success=!success">Toggle success</button> 
        <!-- <p v-if="error">there is an error</p>    -->
        <!-- <p v-else-if="success">hooray!</p>   -->
        <p v-show="error">There has been an error</p>
        <p v-show="success"> Hooray! </p>
         


    </div>

    


    
    <script src="/app.js"></script>
</body>
</html>